:root {
  --primary-color: #ff0000;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --primary-text: #000000;
  --secondary-text: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/** Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/** Class selectors */
.app-panel {
  margin: auto;
  width: 90vw;
  height: 80vh;
  background-color: var(--secondary-color);
  box-shadow: 4px 4px 8px var(--tertiary-color);
  border-radius: 3px;
}

.center {
  text-align: center;
}

.footer {
  width: 100vw;
  padding-top: 2rem;
  text-align: center;
  color: var(--secondary-text);
}

.header {
  display: inline-block;
  font-family: 'Passion One', cursive;
  width: 100vw;
}

.icon {
  display: inline-block;
}

.welcome {
  color: var(--secondary-text);
  padding: 0.5rem;
}
